<ion-view view-title="Edit Meal">
    <ion-content>
        <h5 class="list-header">Meal Name</h5>
        <div class="list">
            <label class="item item-input">
                <input type="text" placeholder="Meal name" ng-model="meal.name">
            </label>
        </div>
        <h5 class="list-header">Ingredients</h5>
        <ion-list class="input-list">
            <ion-item class="item-remove-animate item-icon-right cu-item-enter-animate" ng-repeat="ingredient in meal.ingredients track by $index">
                <i open-options class="ion-ios-minus assertive static-delete"></i>
                <label close-options class="item item-input">
                    <input type="text" placeholder="Ingredient" ng-model="meal.ingredients[$index]">
                </label>
                <ion-option-button class="button-assertive" ng-click="meal.ingredients.splice(ingredient.$index, 1)">
                    Delete
                </ion-option-button>
            </ion-item>
            <ion-item ng-click="addIngredient();" class="add-item">
                <i class="ion-ios-plus balanced static-delete"></i>
                <label class="item item-input">
                    <input type="text" value="Add ingredient" readonly="readonly">
                </label>
                <ion-option-button>
                </ion-option-button>
            </ion-item>
        </ion-list>
        <h5 class="list-header"></h5>
        <button class="button button-full button-outline button-assertive button-full-delete" ng-click="showConfirm();">Delete meal</button>
    </ion-content>
</ion-view>
