<ion-modal-view>
    <div class="bar bar-header bar-balanced">
        <div class="buttons">
            <button class="button button-clear" ng-click="closeModal();">Cancel</button>
        </div>
        <h1 class="title">Create meal</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="createMeal(dummyMeal);closeModal();">Save</button>
        </div>
    </div>
    <ion-content class="has-header">
        <h5 class="list-header">Meal Name</h5>
        <div class="list">
            <label class="item item-input">
                <input type="text" ng-model="dummyMeal.name" placeholder="{{ dummyMeal.placeholderName }}">
            </label>
        </div>
        <h5 class="list-header">Ingredients</h5>
        <ion-list class="input-list">
            <ion-item class="item-remove-animate item-icon-right cu-item-enter-animate" ng-repeat="ingredient in dummyMeal.ingredients track by ingredient.id">
                <i open-options class="ion-ios-minus assertive static-delete"></i>
                <label close-options class="item item-input">
                    <input type="text" placeholder="{{ dummyMeal.placeholders[$index] }}" value="{{ ingredient.name }}">
                </label>
                <ion-option-button class="button-assertive" ng-click="dummyMeal.ingredients.splice($index, 1);">
                    Delete
                </ion-option-button>
            </ion-item>
            <ion-item ng-click="addIngredient();" class="add-item">
                <i class="ion-ios-plus balanced static-delete"></i>
                <label class="item item-input">
                    <input type="text" value="Add ingredient" readonly="readonly">
                </label>
                <ion-option-button>
                </ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
    </ion-view>
</ion-modal-view>
