<ion-modal-view>
    <div class="bar bar-header bar-balanced">
        <div class="buttons" style="padding-right: 10px">
            <button class="button button-clear" ng-click="closeModal();">Cancel</button>
        </div>
        <label class="item-input-wrapper item-input-inset">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input type="search" placeholder="Search meals and ingredients" ng-model="search">
        </label>
    </div>
    <ion-content class="has-header">
        <ion-list>
            <ion-item ng-repeat="meal in filteredMeals = (allMeals | filter: search) track by meal.id" ng-click="addToSchedule(meal); closeModal(); search = '';">
                <h2>{{ meal.name }}</h2>
            </ion-item>
        </ion-list>
        <div class="zero-state" ng-show="!filteredMeals.length && allMeals.length > 0">Nothing here called "{{search}}"</div>
        <div class="zero-state" ng-show="allMeals.length == 0;">
            <div class="messaging">Yeah... there's nothing here.
            </br>
            </br>You should probably create a meal
            </br>over on the "Meals" tab.
            </div>
        </div>
    </ion-content>
</ion-modal-view>
