<ion-view view-title="Schedule">
    <ion-nav-buttons side="left">
        <button class="button button-clear" ng-click="showConfirm();">
            Clear All
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-clear" ng-click="showConfirmRandom();">
            Random
        </button>
    </ion-nav-buttons>
  <ion-content class="schedule">
    <div ng-repeat="day in currentSchedule">
        <h5 class="list-header schedule">{{ day.name }}<i class="icon ion-ios-plus-outline" ng-click="openModal(day.dayInt);"></i></h5>
        <ion-list>
            <ion-item class="item-remove-animate" ng-repeat="meal in day.meals track by meal.id">
            <h2>{{ mealName(meal.name); }}</h2>
            <ion-option-button class="button-assertive" ng-click="day.meals.splice($index, 1);">
                <i class="icon ion-ios-trash-outline"></i>
            </ion-option-button>
            </ion-item>
        </ion-list>
    </div>
  </ion-content>
</ion-view>