<ion-view view-title="Groceries">
  <ion-nav-buttons side="left">
        <button class="button button-clear" ng-click="uncheckAll();">
            Clear all
        </button>
    </ion-nav-buttons>
  <ion-content class="groceries">
    <div class="list">
      <ion-checkbox
          ng-repeat="ingredient in groceries | orderBy: 'name' track by ingredient.id" 
          ng-class="{strike: checked}" 
          class="checkbox-balanced"
          ng-model="ingredient.checked" 
          ng-checked="ingredient.checked">
          {{ ingredient.name }} {{ingredient}}
      </ion-checkbox>
    </div>
    <div class="zero-state" ng-show="groceries.length == 0;">
            <div class="messaging">No groceries!
            </br>
            </br>Looks like you haven't added
            </br>anything to your schedule.
            </div>
        </div>
  </ion-content>
</ion-view>
