<ion-view view-title="Schedule">
    <ion-nav-buttons side="left">
        <button class="button button-clear" ng-click="">
            Clear All
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-clear" ng-click="">
            Random
        </button>
    </ion-nav-buttons>
  <ion-content class="schedule">
    <div ng-repeat="day in currentSchedule">
        <h5 class="list-header schedule">{{ day.name }}<i class="icon ion-ios-plus-empty" ng-click="openModal(); dayOfWeek = {{ day.dayInt }};"></i></h5>
        <ion-list>
            <ion-item ng-repeat="meal in day.meals track by $index">{{ mealName(meal); }}</ion-item>
        </ion-list>
    </div>
  </ion-content>
</ion-view>