<ion-view view-title="Groceries">
  <ion-content class="groceries">
    <ul class="list">
      <li class="item item-checkbox"
          ng-repeat="ingredient in groceries | orderBy: 'name' | unique: 'name' track by ingredient.id" ng-class="{strike: checked}">
        <label class="checkbox checkbox-balanced" ng-click="checked = !checked;">
          <input type="checkbox">
        </label>
        <span>{{ ingredient.name }}</span>
      </li>
    </ul>
    <div class="zero-state" ng-show="groceries.length == 0;">
            <div class="messaging">No groceries!
            </br>
            </br>Looks like you haven't added
            </br>anything to your schedule.
            </div>
        </div>
  </ion-content>
</ion-view>
