<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-balanced">

  <ion-tab title="Meals" icon-off="cu-icon cu-meals" icon-on="cu-icon cu-meals green" href="#/tab/meals">
    <ion-nav-view name="tab-meals"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Schedule" icon-off="cu-icon cu-schedule" icon-on="cu-icon cu-schedule green" href="#/tab/schedule">
    <ion-nav-view name="tab-schedule"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Groceries" icon-off="cu-icon cu-groceries" icon-on="cu-icon cu-groceries green" href="#/tab/groceries">
    <ion-nav-view name="tab-groceries"></ion-nav-view>
  </ion-tab>


</ion-tabs>
