<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-balanced">

  <!-- Dashboard Tab -->
  <ion-tab title="Meals" icon-off="ion-ios-nutrition-outline" icon-on="ion-ios-nutrition" href="#/tab/meals">
    <ion-nav-view name="tab-meals"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Schedule" icon-off="ion-ios-calendar-outline" icon-on="ion-ios-calendar" href="#/tab/schedule">
    <ion-nav-view name="tab-schedule"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Groceries" icon-off="ion-ios-paper-outline" icon-on="ion-ios-paper" href="#/tab/groceries">
    <ion-nav-view name="tab-groceries"></ion-nav-view>
  </ion-tab>


</ion-tabs>
